main#td-hello-world {
	display: table;
	text-align: center;
	height: inherit;
	width: inherit;
}
main#td-hello-world section.td-hello-world {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
main#td-hello-world h1.td-title {
	color: #525252;
	text-align: center;
	font-weight: 400;
}
main#td-hello-world h2.td-subtitle {
	color: #525252;
	text-align: center;
	font-weight: 200;
}
main#td-hello-world div.td-logo {
	margin-top: 75px;
}
main#td-hello-world h2.td-tidory {
	margin-top: 35px;
	font-size: 32pt;
	font-weight: 200;
}
main#td-hello-world nav.td-refs {
	margin-top: 55px;
}
main#td-hello-world nav.td-refs span.td-item {
	margin: 0 15px;
}
main#td-hello-world nav.td-refs span.td-item a {
	font-size: 18pt;
}
