doctype html

html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title [##_page_title_##]

    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css")

    style
      include:postcss @/app.css

  body(id="[##_body_id_##]" class="bg-zinc-900 font-sans")
    block TIDORY
