doctype html

html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title [##_page_title_##]

    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css")

    style.
      /* Color Palette */
      :root {
        --color-background: white;
        --color: black;
        --color-blur: rgba(0, 0, 0, .6)
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --color-background: #1e1f21;
          --color: white;
          --color-blur: rgba(255, 255, 255, .8)
        }
      }

    style.
      * {
        padding: 0px;
        margin: 0px;
        font-family: "Noto Sans KR", sans-serif;
      }
      a {
        pointer-events: initial;
      }
      body {
        background-color: var(--color-background);
      }

  body(id="[##_body_id_##]")
    block TIDORY
