extends ./layouts/default

block TIDORY
  //- container
  div#td-skin-container
    //- style
    style
      :stylus
        #td-skin-container
          width: 100%;
          height: 100%
    //- template
    include views/Sidebar
    include views/Header