extends ./layouts/default

block head
	meta(charset="utf-8")
	// Open Graph protocol
	meta(property="og:description", content="Tidory Framework for Tistory Skin")
	meta(property="og:title", content="Tidory")
	meta(property="og:site_name", content="Tidory")
	meta(property="og:url", content="http://www.tidory.com")

block TISTORY
	include views/HelloWorld

block scripts
	// jQuery
	// script(src="https://code.jquery.com/jquery-3.2.1.js")