footer#td-footer-wrapper(role="header")
  a(href="https://tistory.com" target="_blank"): img(src="./images/logo.png")

style.
  #td-footer-wrapper {
    position: absolute;
    bottom: 25px;
    padding: 0 35px;
    width: 100%;
    box-sizing: border-box;
  }
  #td-footer-wrapper a {
    float: right;
    opacity: .2;
    transition-duration: .3s;
  }
  #td-footer-wrapper a:hover {
    opacity: 1;
  }
  #td-footer-wrapper a > img {
    width: 80px;
  }
