//- container
header#td-header-wrapper(role="header")
  //- style
  style
    :stylus
      #td-header-wrapper
        display: table;
        vertical-align: middle;
        text-align: center;
        width: inherit;
        height: inherit;
        div
          display: table-cell;
          vertical-align: middle;
          text-align: center;
  //- template
  div#container
    include Header/BlogTitle
    include Header/BlogMenu