header#td-header-wrapper(role="header")
  //- style
  style.
    #td-header-wrapper {
      height: 100vh;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  //- template
  include @tidory/default-header