//- style
style.
  main#td-index-wrapper {
    display: table;
    text-align: center;
    height: inherit;
    width: inherit;
  }
  main#td-index-wrapper section.td-index {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
//- template
main#td-index-wrapper
  section.td-index
    include Index/Header
    include Index/Refs