aside#td-sidebar-wrapper(role="sidebar")
  //- style
  style.
    #td-sidebar-wrapper {
      position: absolute;
      top: 20px;
      width: 100%;
    }
  //- template
  include @tidory/default-sidebar