//- style
style.
  header#td-header-wrapper h1 {
    color: @{FONT_COLOR};
    margin-top: 35px;
    font-size: 2.8em;
    font-weight: 200;
  }
//- template
header#td-header-wrapper(role="header")
  h1 TIDORY