@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

:root {
  --color-background: white;
  --color: black;
  --color-blur: rgba(0, 0, 0, .6)
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1e1f21;
    --color: white;
    --color-blur: rgba(255, 255, 255, .8)
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  pointer-events: initial;
}

body {
  background-color: var(--color-background);
}
