section#td-blogTitle-wrapper(role="header")
  //- style
  style
    :stylus
      #td-blogTitle-wrapper h1
        color: #525252;
        margin-top: 35px;
        font-size: 2.8em;
        font-weight: 200;
  //- template
  case process.env.APP_MODE
    when 'build'
    when 'preview'
      h1 [##_title_##]
    when 'development'
      h1 TIDORY