//- inline script
-
  const REFERENCES = [
    { text:"시작하기",  href:"http://www.tidory.com/docs/v4/get-started/" },
    { text:"프로젝트 템플릿",  href:"https://github.com/pronist/tidory" },
    { text:"티도리 모듈",  href:"https://www.npmjs.com/package/tidory" },
    { text:"티스토리 가이드",  href:"https://www.tistory.com/guide/skin/step0" }
  ];
//- container
nav#td-blogMenu-wrapper(role="navigation")
  //- style
  style.
    #td-blogMenu-wrapper {
      margin-top: 35px;
    }
    #td-blogMenu-wrapper li {
      margin: 0 15px;
      display: inline-block;
    }
    #td-blogMenu-wrapper li a {
      font-size: 1.05em;
      color: #{TIDORY.FONT_COLOR};
      font-weight: 300;
    }
  //- template
  ul
    each ref in REFERENCES
      li: a(href=ref.href)= ref.text