-
  const guidebook = [
    { text:'시작하기',  href:'https://tidory.com/docs/get-started/' },
    { text:'디렉토리',  href:'https://tidory.com/docs/directory/' },
    { text:'템플릿',  href:'https://tidory.com/docs/template/' },
    { text:'프레임워크',  href:'https://tidory.com/docs/framework/' },
    { text:'빌드 및 배포',  href:'https://tidory.com/docs/distribute/' }
  ];

nav
  ul
    each guide in guidebook
      li: a(href=guide.href)= guide.text

style.
  header > nav {
    margin-top: 35px;
  }
  header > nav ul {
    list-style: none
  }
  header > nav ul li {
    margin: 0 15px;
    display: inline-block;
  }
  header > nav ul li a {
    font-size: 1.05em;
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
  }
  header > nav ul li a:hover {
    color: #ed5207;
  }
