extends ../layouts/default

block HEAD
	meta(charset="utf-8")
	// Open Graph protocol
	meta(property="og:description", content="Tidory Framework for Tistory Skin")
	meta(property="og:title", content="Tidory")
	meta(property="og:site_name", content="Tidory")
	meta(property="og:url", content="http://tidory.com")

block TISTORY
	include templates/HelloWorld

block FOOTER
	// jQuery
	// script(src="https://code.jquery.com/jquery-3.2.1.js")