doctype html

html(lang="ko")
	head
		//- BLOG NAME
		title Tidory 
		//- TISTORY RSS
		link(rel="alternate", type="application/rss+xml", title="[##_title_##]", href="[##_rss_url_##]")
		//- Only for PRODUCT
		//- link(rel="stylesheet" href="./style.css")
	body
		//- TISTORY CONTAINER
		s_t3
			//- TIDORY DEMO
			#container
				include templates/HelloWorld
				
	//- Only for PRODUCT
	//- script(type="text/javascript", src="./images/app.bundle.js")